name: Sync DockerHub README

on:
  push:
    branches:
      - master
    paths:
      - README.md
      - .github/workflows/sync-readme.yml
  workflow_dispatch:

jobs:
  sync-readme:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v5
      with:
        username: 'rockstorm'
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        repository: rockstorm/gitweb
        readme-filepath: ./README.md
        short-description: ${{ github.event.repository.description }}
